@import '../foundation/scss/foundation';

@include foundation-everything;

* {
	outline: 1px solid red;
}

.container {
	@include grid-row();
}

.block {
	@include grid-column(4);
}

.item {
	@include grid-column(4);

}
